* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.boxing{
    display: flex;
    justify-content: center;
    padding: 50px 200px;
    gap: 50px;
}

.icon{
    text-align: center;
}
.text{
    color: rgb(61, 60, 60);
}
.box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ready{
    display: flex;
    flex-direction: column;
}
.form{
display: flex;
flex-direction: column;
gap: 30px;
padding: 80px;
}
.form h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    position: relative;
    display: flex;
}

.button input{
    width: 297px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 10px;
    padding-left: 8px;
    padding-right: 142px;
}

.button button{
    border: none;
    border-radius: 50px ;
    padding: 11px 9px;
    background-color: rgb(204, 75, 96);
    color: white;
    position: absolute;
    right: 0;
}
.footer{
    background-color: black;
    height: 20vh;
   padding-top: 50px;
}
.foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer nav ul{
    display: flex;
    gap: 50px;
}
.footer nav ul li a{
 color: white;
}
 .fa-barnds {
    display: flex;
    font-size: 30px;
    gap: 30px;
    color: white;
}